.jumbotron {
    background-image: url("../images/network1.jpg");
    filter: grayscale(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: whitesmoke;
    height: 500px;
    font-family: Consolas, Monaco, monospace;
}

.jumbotron h1 {
    font-weight: bold;
}

.jumbotron p {
    font-size: xx-large;
    font-weight: 400;
}
